<p id="notice"><%= notice %></p>


<div class="container mx-auto w-50 text-center">
        <div class="card w-56 border border-primary text-center mx-auto mt-5">
            <div class="card-body">
                <div class="card-title">
                    Cadastre um novo Fornecedor
                </div>
                <%= link_to "Clique aqui", new_provider_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>

<h1>Fornecedores</h1>

 <div class="text-end ">
        <%= form_tag(providers_path, method: :get) do %>
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag ("Pesquisar") %>
        <% end %>
    </div>
  

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Cnpj</th>
      <th>Endereço</th>
      <th>Telefone</th>
      <th class="text-center" colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.id %></td>
        <td><%= link_to provider.name, provider%></td>
        <td><%= provider.cnpj %></td>
        <td><%= provider.address %></td>
        <td><%= provider.phone %></td>
        <td><%= link_to 'Editar', edit_provider_path(provider) %></td>
        <td><%= link_to 'Deletar', provider, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este fornecedor?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    <div class="digg_pagination text-center mt-4">
            <%= paginate @providers %>

    </div>


