       
        <%= form_with model: service do |form|%>            
            <div class="form-group pt-2">
                <%= form.label :title, value: "Titulo:" %> 
                <%= form.text_field :title, {class: "form-control", placeholder: "Digite o titulo do serviço"} %>
            </div>
             <div class="form-group pt-2">
                <%= form.label :estimative, value: "Estimativa:" %> 
                <%= form.date_field :estimative, {class: "form-control", placeholder: "Selecione uma estimativa para o serviço"} %>
            </div>
              <div class="form-group pt-2">
                <%= form.label :value, value: "Valor:" %> 
                 <%= form.number_field :value, {step: :any, class: "form-control", placeholder: "Insira o valor do serviço"} %>
            </div>
            <div class="form-group pt-2">
                <label for="vehicle_id"> Selecione o veiculo referente ao serviço </label> <br>
                <%= form.select :vehicle_id, @vehicles.collect{ |v| [v.model, v.id] }, {},  prompt: "Escolha um Veiculo", class: "form form-group form-control" %>
            </div>
            <div class="form-group pt-2">
                <%= form.label :status, value: "O serviço ja foi concluido?" %> 
                <%= form.check_box :status%>            
            </div>
            <div class="lead pt-5">
                <%= form.submit "Concluir", class: "btn btn-primary" %>
            </div>
         <% end %>
  
