  <tr class="text-center">
            <th scope="row"></th>
            <td> <%= service.title %></td>
            <td> <%= service.estimative %></td>
            <td> <%= service.vehicle.model %> </td>
            <td> <%= service.vehicle.client.name %> </td>
            <td> <%= service.value %></td>
            <td> <%= service.sale ? service.sale.value + service.sale.comission_value : "Não possui" %> </td>
            <td> <%= service.sale ? service.sale.get_total_value : service.value %> </td>
            <td> <%= service.sale ? (link_to 'Ver', sale_path(service.sale)) : "Não possui" %>  </td>
            <td> <%= link_to "Tarefas", service, class: "btn btn-md btn-primary my-2" %></td> 
            <td> <%= link_to "Deletar", service_path(service), class: "btn btn-md btn-danger my-2", 
                                                                      method: :delete, 
                                                                      data: { confirm: "Tem certeza que deseja deletar o serviço " + service.title + " ?"}  %> </td>
            <td> <%= link_to "Editar", edit_service_path(service), class: "btn btn-md btn-info my-2" %>  </td> 
    
        </tr>