<div class="container mx-auto w-50 text-center pt-5 mb-5" >
    <h1 class="display-4">Serviço: <%= @service.title %> </h1>
    <h1> Valor da mão de obra: <%= @service.value %> </h1>
    <h3 class="">  Veiculo: <%= @service.vehicle.model %> </h3>   
    <h3 class="">
        <% if @sale %>
            Venda associada: <%= link_to @sale.name, sale_path(@sale) %>
        <% end %>
    </h3> 
</div>

<div class="container mx-auto w-50 my-4">
 <% if @service.status == false%>
        <div class="container mx-auto text-center my-5">
            <%= link_to "Concluir serviço", finish_service_service_path(@service), class: "btn-lg btn-success text-center" %>
        </div>

        <div class="card w-56 border border-primary text-center mx-auto my-4"> 
                <div class="card-body">
                    <div class="card-title">
                        Cadastre uma nova tarefa
                    </div>
                    <%= link_to "Clique aqui", new_service_task_path(@service), class: "btn btn-primary" %>
                    </div>
            </div>
 <% end %>




 <% if flash[:notice] %>
    <div class="container mx-auto w-75 text-center ">
            <div class="jumbotron mx-auto border border-primary">
                <h1>Parabéns!</h1>
                <h2 class="mb-4 text-success"> Serviço concluido com sucesso :)</h2>
                <%= image_tag "technoviking.gif", class: "border border-dark" %>                
            </div>
    </div>
 <% end %>

        

   <h2 class="text-center p-2 mt-5"> Tarefas Pendentes: </h2>
    <table>
        <tbody>
            <%= render "tasks/task-table" %>
                <% @service.tasks.each do |task| %>
                        <% if task.status == false %>
                            <%= render "tasks/task", task: task %>
                        <% end %>  
                <% end %>
         </tbody>
      </table>

    <h2 class="text-center p-2"> Tarefas Completas: </h2>
        <table>
        <tbody>
            <%= render "tasks/task-table" %>
                <% @service.tasks.each do |task| %>
                        <% if task.status == true %>
                            <%= render "tasks/task", task: task %>
                        <% end %>  
                <% end %>
         </tbody>
      </table>

     <div class="buttons">
        <a href="/services" class="btn btn-primary my-5"> Voltar </a>
     </div>
            
</div>