   
                    
                    <div class="col-12 col-xl-8 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">Ultimos veiculos cadastrados</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Modelo</th>
                                            <th scope="col">Placa</th>
                                            <th scope="col">Cliente</th>
                                            <th scope="col">Data</th>
                                            <th scope="col"></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                         <% @vehicles.each do |vehicle| %>
                                            <tr>
                                                <th scope="row"> <%= vehicle.id %></th>
                                                <td><%= vehicle.model%></td>
                                                <td><%= vehicle.registration_plate %> </td>
                                                <td><%= vehicle.client.name %></td>
                                                <td><%= vehicle.created_at.to_date %></td>
                                                <td> <%= link_to "Ver", vehicle, class: "btn btn-primary" %> </td>
                                            </tr>
                                          <% end %>
                                        </tbody>
                                      </table>
                                </div>
                                     <a href="/vehicles" class="btn btn-block btn-primary">Ver todos</a>
                                </div>
                                </div>
                            </div>