<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @part.value %>
</p>

<% if @part.provider %>
  <p>
    <strong>Fornecedor:</strong>
    <%= @part.provider.name %>
  </p>
<% end %>

<p>
  <strong>Modelo da peça:</strong>
  <%= @part.model %>
</p>

<h1> Contido nos orçamentos: </h1>
<% @part.sales.each do |sale| %>
  <%= link_to sale.name %> <br>
<% end %>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
