<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>,:</strong>
  <%= @part., %>
</p>

<p>
  <strong>Value:</strong>
  <%= @part.value %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @part.sold %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @part.boolean %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
