<div class="container mx-auto">
    <div class="jumbotron ">
        <h1 class="text-center display-5 font-weight-bold"> Visualização da tarefa: <span style="font-style:italic !important; font-weight: normal;"> <%= @task.title %> </span> </h1>  
        <h1 class="text-center h2 font-weight-bold"> Veiculo: <%= @task.service.vehicle.model %> </h1>
        

        <% if flash[:notice] %>
            <div class="container mx-auto w-75 text-center ">
                    <div class="jumbotron mx-auto border border-primary">
                        <h1>Parabéns!</h1>
                        <h2 class="mb-4 text-success"> Tarefa concluida com sucesso :)</h2>
                        <%= image_tag "technoviking.gif", class: "border border-dark" %>                
                    </div>
            </div>
        <% end %>

        <% if @task.status == false%>
            <div class="container mx-auto text-center my-5">
                <%= link_to "Concluir tarefa", finish_task_task_path(@task), class: "btn-lg btn-danger text-center" %>
            </div>
        <% end %>



        <div class="row my-5 ">
            <ul class="">
            <li class="" >
                 <i class="bi bi-info-lg mr-3" style="font-size: 40px"></i>            
                 <span class="font-italic h2" > Descrição da tarefa: 
                 </span>
                    <textarea class="form-control rounded-0 border-dark" readonly> <%= @task.description %>  </textarea>
            </li>
            <li class="">
                <i class="bi bi-bookmark-check mr-3" style="font-size: 40px"></i>
                 <span class=" font-italic h2"> Status da tarefa: 
                    <span class="text-primary"> <%= @task.status_parsed%>  </span>
                 </span>
            </li>
             <li class="">
                <i class="bi bi-calendar mr-3" style="font-size: 40px"></i>
                 <span class=" font-italic h2"> Estimativa: 
                    <span class="text-primary"> <%= @task.estimative %>  </span>
                 </span>
            </li>
            </ul>
        </div>
        
        <div class="row my-5 text-center">
            <div class="col-12">
                 <%= link_to 'Voltar', service_path(@task.service), class: "btn btn-lg btn-info my-2 mr-5" %> 
                 <%= link_to "Editar", edit_service_task_path([@task.service, @task]), class: "btn btn-lg btn-warning my-2 mr-5" %>
                 <%= link_to "Deletar", [@task.service, @task], class: "btn btn-lg btn-danger my-2 mr-5", 
                                                                      method: :delete, 
                                                                      data: { confirm: "Tem certeza que deseja deletar a tarefa " + @task.title + " ?"}  %>
            </div>
        </div>
    
    </div>
</div>