<style>
  .dropbtn {
    background-color: gray;
    color: white;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    border: 2px black;
  }
  
  .dropdown-user {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-user {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content-user button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content-user button:hover {background-color: #f1f1f1}
  
  .dropdown-user:hover .dropdown-content-user {
    display: block;
  }
  
  .dropdown-user:hover .dropbtn {
    background-color: orange;
  }
  </style>



<div class="dropdown-user">
    <p> 
      <button class="dropbtn">
        <i class="material-icons">account_circle</i>
      </button>
    </p>
    <div class="dropdown-content-user">
      <% if user_signed_in? %>
      <strong class="text-black"> <%= current_user.name %> (<%= current_user.parsed_role %>) </strong>
      <button class="dropdown-item" >
        <% if current_user.is_admin %>
           <a href="/dashboard" > Dashboard  </a> 
        <% end %>
      </button>
      <button class="dropdown-item">
        <%= link_to 'Editar Perfil', edit_user_registration_path %>
      </button>
      <button class="dropdown-item">
        <%= link_to "Sair", destroy_user_session_path, method: :delete %>
      </button>
    <% else %>
      <div class="dropdown-divider"> </div>
        <button class="dropdown-item">
          <%= link_to "Registre-se", new_user_registration_path, :class => 'navbar-link'  %>
        </button>
        <button class="dropdown-item">
          <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
        </button>
    <% end %>
    </div>
  </div> 