    <style>
        .row {
            text-align: center;
            margin: 0 auto;
        }

        .row .col-lg-4 {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>

    <div class="container mx-auto w-50 text-center">
        <div class="card w-56 border border-primary text-center mx-auto mt-5">
            <div class="card-body">
                <div class="card-title">
                    Cadastre um novo cliente
                </div>
                <%= link_to "Clique aqui", new_client_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
    <h2 class="text-center mx-auto pt-5 pb-2"> Todos os clientes cadastrados: </h2>
    
    <div class="mt-5 text-center">
        <h4> Procurar por nome: </h4>
        <%= form_tag(clients_path, method: :get) do %>
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag ("Procurar")%>
        <% end %>
    </div>
    <div class="container border border-dark p-5 text-center ">


    
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF / CNPJ </th>
    </tr>
  </thead>
  <tbody>
    
    <% @clients.each do |client| %>    
        <tr>
        <td> <%= link_to client.id %> </td>
        <td> <%= link_to client.name, client %></td>
        <td> <%= client.document %> </td>
        </tr>
    <% end %>
    </tbody>
    </table>
        <div class="digg_pagination text-center mt-4">
            <%= paginate @clients  %>

        </div>
    </div>
    </div>

