<style>
        .row {
            text-align: center;
            margin: 0 auto;
        }

        .row .col-lg-4 {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>

    <div class="container mx-auto w-50 text-center">
        <div class="card w-56 border border-primary text-center mx-auto mt-5">
            <div class="card-body">
                <div class="card-title">
                    Cadastre um novo cliente
                </div>
                <%= link_to "Clique aqui", new_client_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>

    <h1 class=""> Clientes </h1>

    <div class="text-end ">
        <%= form_tag(clients_path, method: :get) do %>
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag ("Pesquisar") %>
        <% end %>
    </div>
  
   

    
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF / CNPJ </th>
      <th class="text-center" colspan="3">Ações</th>

    </tr>
  </thead>
  <tbody>
    
    <% @clients.each do |client| %>    
        <tr>
            <td> <%= client.id %> </td>
            <td> <%= link_to client.name, client %></td>
            <td> <%= client.document %> </td>
            <td><%= link_to 'Editar', edit_client_path(client) %></td>
            <td><%= link_to 'Deletar', client, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este cliente?' } %></td>
        </tr>
    <% end %>
    </tbody>
    </table>
        <div class="digg_pagination text-center mt-4">
            <%= paginate @clients %>

        </div>
    </div>

