<div class="container mx-auto">
    <div class="jumbotron ">
        <h1 class="text-center display-4 font-weight-bold"> Cliente: <%= @client.name %> </h1>
        <div class="row my-5 ">
            <div class="col-6">
                <ul class="">
                <li class="" >
                    <i class="bi bi-telephone mr-3" style="font-size: 40px"></i>            
                    <span class="font-italic h2" > Telefone do cliente: 
                        <span class="text-primary"> <%= @client.phone %>  </span>
                    </span>
                </li>
                <li class="">
                    <i class="bi bi-house-fill mr-3" style="font-size: 40px"></i>
                    <span class=" font-italic h2"> Endereço do cliente: 
                        <span class="text-primary"> <%= @client.address %>  </span>
                    </span>
                </li>
                
                </ul>
            </div>
            <div class="col-6">
                <ul> 
                <li class="">
                    <i class="bi bi-person-badge mr-3" style="font-size: 40px"></i>
                    <span class=" font-italic h2"> Documento do cliente: 
                        <span class="text-primary" style="font-size: 25px;"> <%= @client.document %>  </span>
                    </span>
                    </li>   
                </ul>
           </div>
        </div>

         <div class="vehicles text-center">
            <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Veiculos deste cliente 
            </button>
        
            <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <ul class="list-group">   
                    <% @vehicles.each do |vehicle| %>
                        <li class="list-group-item fw-bold"> 
                            <%= link_to vehicle.model, vehicle%>
                        </li>
                    <% end %>
                </ul>
            </div>
            </div>
        </div>
        
        <div class="row my-5 text-center">
            <div class="col-12">
                 <%= link_to 'Voltar', url_for(:back), class: "btn btn-lg btn-info my-2 mr-5" %> 
                 <%= link_to "Editar", edit_client_path(@client), class: "btn btn-lg btn-warning my-2 mr-5" %>
                 <%= link_to "Deletar", client_path(@client), class: "btn btn-lg btn-danger my-2 mr-5", 
                                                                      method: :delete, 
                                                                      data: { confirm: "Tem certeza que deseja deletar o cliente " + @client.name + " ?"}  %>
            </div>
        </div>
    
    </div>
</div>