<div class="col-12 col-xl-8 mb-4 mb-lg-0">
<div class="card">
    <h5 class="card-header text-primary">Ranking de peças mais solicitadas em orçamentos </h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Modelo</th></th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Apareceu em orçamentos</th>
                    <th scope="col">Data</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @part_by_sale.each do |part| %>
                    <tr>
                        <th scope="row"> <%= part.id %></th>
                        <td><%= part.name %> </td>
                        <td><%= part.model %></td>
                        <td><%= part.provider.name %> </td>
                        <td><%= part.readable_sales_count %> </td>
                        <td><%= part.provider.created_at.to_date %></td>
                        <td> <%= link_to "Ver", part, class: "btn btn-primary" %> </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
        </div>
          
        </div>
        </div>
    </div>