<div class="col-12 col-md-12 mb-4 align-items-center">
    <div class="card w-75">
        <h5 class="card-header text-primary"> Funcionários por Orçamentos Realizados </h5>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Função</th></th>
                        <th scope="col">Quantia de Orçamentos</th>
                        <th scope="col">Data de cadastro</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users_by_sale.each do |user| %>
                        <tr>
                            <th scope="row"> <%= user.id %></th>
                            <td><%= user.name %></td>
                            <td><%= user.parsed_role %> </td>
                            <td><%= user.sales.count %></td>
                            <td><%= user.created_at_normalized %></td>
                        </tr>
                        <% end %>
                    </tbody>
                    </table>
            </div>
                   
            </div>
            </div>
    </div>

