<div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0d">
                        <div class="card text-center">
                            <h5 class="card-header" style="font-size: 18px">Veiculos cadastrados neste mes </h5>
                            <div class="card-body">
                              <h5 class="card-title"><%= @vehicles_this_month.count %></h5>
                              <p class="card-text fw-bold"><%= @month_first_day %> -- <%= @month_last_day %></p>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="card text-center">
                            <h5 class="card-header" style="font-size: 18px">Veiculos destaque</h5>
                            <div class="card-body">
                              <h5 class="card-title"><%= @featured_vehicles.count %> </h5>
                              <p class="card-text fw-bold"><%= @month_first_day %> -- <%= @month_last_day %></p>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="card text-center">
                            <h5 class="card-header"  style="font-size: 18px">Veiculos totais</h5>
                            <div class="card-body">
                              <h5 class="card-title"> <%= @vehicles.count %> </h5>
                              <p class="card-text fw-bold"><%= @month_first_day %> -- <%= @month_last_day %></p>
                            </div>
                          </div>
                    </div>
                </div>