<%= render "side-panel"%>

  <main class="container">
                <h1 class="h2">Relatórios de clientes</h1>
                <p>Nesta página você poderá inspecionar dados relacionados a clientes </p>
                    <%= render "client-featured"%>
                <div class="row my-5">
                    <%= render "clients_by_sale" %>
                </div>
                
                <div class="row my-5">
                    <%= render "loyal-clients" %>
                </div>
                <div class="row my-5">
                    <%= render "clients_registered_this_month" %>
                </div>
                
                
            </main>
        </div>
    </div>