<%= render "side-panel"%>

<div class="container my-5">
  <h2>Dashboard Geral</h2>
  <p>Nesta página você poderá inspecionar alguns dados administrativos gerais </p>
  <%= render 'featured' %>
  <div class="row my-5">
    <%= render "recent-services" %>
  </div>
  <div class="row my-5">
    <%= render "recent-vehicles" %>
  </div>
  <div class="row my-5">
    <%= render "recent_clients" %>
  </div>
</div>
</div>
</div>

