<%= render "side-panel" %>

  <main class="container">
                <h1 class="h2">Relatórios de Orçamentos </h1>
                <p> Nesta página você poderá inspecionar dados relacionados a orçamentos </p>
                <%= render "sale-featured" %>
                <div class="row my-5">

                <div class="mt-5 text-center">
                        <h4> Faturamento em Comissão de Orçamento por período : </h4>
                        <%= form_tag(sale_report_path, method: :get) do %>
                            <%= date_field_tag(:start_date, params[:start_date]) %>
                            <%= date_field_tag(:end_date, params[:end_date])%>
                            <%= submit_tag ("Procurar") %>
                        <% end %>
                        <%= @sale_value_by_period %>
                </div>

                </div>
            </main>
        </div>
    </div>