        <%= form_with model: vehicle do |form|%>            
            <div class="form-group pt-2">
                <%= form.label :model, value: "Modelo:" %> 
                <%= form.text_field :model, {class: "form-control", placeholder: "Digite o modelo do carro"} %>
            </div>
            <div class="form-group pt-2">
                <%= form.label :registration_plate, value: "Placa:" %> 
                <%= form.text_field :registration_plate, {class: "form-control", placeholder: "Escreva a placa"} %>
            </div>
            <div class="form-group pt-2">
                <label for="client_id"> Escolha um cliente </label> <br>
                <%= form.select :client_id, @clients.collect{ |c| [c.name, c.id] }, {},  prompt: "Escolha um Cliente", class: "form form-group form-control" %>
            </div>

            <div class="lead pt-5">
                <%= form.submit "Concluir", class: "btn btn-primary" %>
            </div>
         <% end %>
  
