<style>
    .row {
        text-align: center;
        margin: 0 auto;
    }

    .row .col-lg-4 {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
</style>



<div class="container mx-auto w-50 text-center">
    <div class="card w-56 border border-primary text-center mx-auto mt-5">
        <div class="card-body">
            <div class="card-title">
                Cadastre um novo veículo
            </div>
            <%= link_to "Clique aqui", new_vehicle_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>
<h2 class="text-center mx-auto pt-5 pb-2"> Todos os Veículos cadastrados: </h2>


        <h4> Procurar por placa: </h4>
        <%= form_tag(vehicles_path, method: :get) do %>
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag ("Procurar")%>
        <% end %>


    
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Placa </th>
    </tr>
  </thead>
  <tbody>
    
    <% @vehicles.each do |vehicle| %>    
        <tr>
        <td> <%= vehicle.id %> </td>
        <td> <%= link_to vehicle.model, vehicle %></td>
        <td> <%= vehicle.registration_plate %> </td>
        </tr>
    <% end %>
    </tbody>
    </table>
        <div class="digg_pagination text-center mt-4">
            <%= paginate @vehicles  %>

        </div>
    </div>

