<p id="notice"><%= notice %></p>

<% if !@sale.finished  %>
  <h3 style="color: red; text-align: center;"> ATENÇÃO ORÇAMENTO NÃO FINALIZADO POR NOSSO COLABORADOR 
  SUJEITO A ALTERAÇÕES ATÉ CONFIRMAÇÃO !</h3>
 
<% end %>


<p style="text-align: center">
  <strong style="font-size: 40px"> Valor Total a Pagar: R$ <%= @sale.get_total_value %> </strong>
</p>


<p class="text-center">
  <strong class="text-primary"> Colaborador que efetuou o orçamento: </strong>
  <%= @sale.user.name %> <strong style="color: blue"> ID: <%= @sale.user.id %> </strong>
</p>
<p>
  <strong>Identificação Geral:</strong>
  <%= @sale.name %>
</p>
<p>
  <strong>Observações:</strong>
  <%= @sale.description %>
</p>

<% if @sale.service %>
 <p>
    Valor da mão de obra (Serviço): 
    R$ <%= @sale.service.value %>
  </p>
<p> 
  <strong> Serviço associado ao orçamento:</strong>
  <%= link_to @sale.service.identification_string, service_path(@sale.service.id) %>
</p>
<% elsif @sale.client %>
<p> 
  <strong> Nome do cliente:</strong>
  <%= link_to @sale.client.name, client_path(@sale.client.id) %>
</p>
<% end %>


 <h2 class="text-center p-2"> Peças deste orçamento: </h2>
  <table class="table">
    <thead> 
      <tr>
        <th scope="col"> # </th>
        <th scope="col"> Nome </th>
        <th scope="col"> Modelo  </th>
        <th scope="col"> Valor </th>
      </tr>
    </thead>
    <tbody>
      <% @sale.parts.each do |part| %>
        <tr>
        <% if part %>

          <td>
            <%= part.id %>
          </td>
          <td>
            <%= link_to part.name %>
          </td>
          <td>
            <%= part.model %>
          </td>
          <td>
            <%= part.value %>
          </td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>


