<p id="notice"><%= notice %></p>
<div class="container mx-auto text-center" >
  <h2 class="text-center"> Visualizar <%= @sale.name %> </h2>

  <% if !@sale.finished %>
    <%= link_to "Aprovar orçamento", finish_sale_sale_path(@sale), class: "btn-lg btn-success text-center" %>
    <%= link_to "Cancelar orçamento", finish_sale_sale_path(@sale), class: "btn-lg btn-danger text-center" %>
  <% else %>
    <h3> Orçamento aprovado e finalizado </h3>
  <% end %>


  <p>
    <strong> Feito por: </strong>
    <%= @sale.user.name %>
  </p>

  <p>
  <strong> Status do orçamento: </strong>
  <%= @sale.parsed_finished%>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @sale.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @sale.description %>
  </p>
  <p>
    <strong>Valor das peças:</strong>
    <%= @sale.value %>
  </p>

  <p> 
    <strong> Valor da Comissão: </strong>
    <%= @sale.comission_value %>
  </p>

  <% if @sale.service %>
    <p>
      Valor da mão de obra: 
      <%= @sale.service.value %>
    </p>
  <% end %>

  <% if @sale.service %>
  <p> 
    <strong> Serviço associado a venda:</strong>
    <%= link_to @sale.service.title, service_path(@sale.service.id) %>
  </p>
  <% elsif @sale.client %>
  <p> 
    <strong> Cliente associado a venda:</strong>
    <%= link_to @sale.client.name, client_path(@sale.client.id) %>
  </p>
  <% end %>

  <h2 class="text-center p-2"> Peças desta venda: </h2>
  <table class="table">
    <thead> 
      <tr>
        <th scope="col"> # </th>
        <th scope="col"> Nome </th>
        <th scope="col"> Modelo  </th>
        <th scope="col"> Valor </th>
      </tr>
    </thead>
    <tbody>
      <% @sale.parts.each do |part| %>
        <tr>
        <% if part %>

          <td>
            <%= part.id %>
          </td>
          <td>
            <%= link_to part.name, part_path(part) %>
          </td>
          <td>
            <%= part.model %>
          </td>
          <td>
            <%= part.value %>
          </td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <strong class="display-4 text-danger"> Valor total: <%= @sale.get_total_value() %> </strong>
  </p>

  <%= link_to sale_path(@sale, format: :pdf) do  %> 
    <i class="bi bi-filetype-pdf " style="font-size: 40px"></i>
  <% end %> |
  <%= link_to "Deletar", sale_path(@sale), method: :delete%> |
  <%= link_to 'Editar', edit_sale_path(@sale) %> |
  <%= link_to 'Voltar', sales_path %> |
</div>