<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sale.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sale.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sale.value %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
